<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>intarget</name>
    <displayName><![CDATA[inTarget eCommerce]]></displayName>
    <version><![CDATA[1.0.3]]></version>
    <description><![CDATA[Система аналитики для интернет-магазинов]]></description>
    <author><![CDATA[inTarget Team]]></author>
    <tab><![CDATA[analytics_stats]]></tab>
    <confirmUninstall><![CDATA[Вы действительно хотите удалить модуль inTarget?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
</module>